.country-container {
  height: 270px;
  border-radius: 10px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(42, 40, 40);
  position: relative;

  .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 90px #000;
    filter: grayscale(50%);
  }

  &:hover {
    cursor: pointer;

    & .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      opacity: 0.4;
    }
  }

  .country-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    width: 100%;

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: bold;
      margin: 0 6px 10px;
      font-size: 1.3rem;
    }

    span {
      font-weight: lighter;
      font-size: 0.8rem;
      text-align: center;
      width: 70%;
      margin-bottom: 10px;
    }

    p {
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      font-weight: lighter;
      font-size: 0.8rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1px;
      border: 1px solid white;
      background: transparent;
      color: white;
      padding: 8px 16px 8px 16px;
      cursor: pointer;
    }

    @media (min-width: 768px) {
      button {
        margin-top: 30px;
      }
      span {
        margin: 45px 0 30px;
      }
      h2 {
        font-size: 1.8vw;
        margin: 0 6px 0;
      }
      p {
        font-size: 1.2vw;
      }
    }
  }

  @media (min-width: 1024px) {
    height: 340px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    height: 300px;
  }

  @media (min-width: 768px) {
    &:nth-child(1) {
      grid-area: column-1;
    }
    &:nth-child(2) {
      grid-area: column-2;
    }
    &:nth-child(3) {
      grid-area: column-3;
    }

    &:nth-child(4) {
      grid-area: column-4;
    }

    &:nth-child(5) {
      grid-area: column-5;
    }
    &:nth-child(6) {
      grid-area: column-6;
    }

    &:nth-child(7) {
      grid-area: column-7;
    }

    .background-image {
      width: 100%;
      height: 100%;
    }
  }
}
