html {
  box-sizing: border-box;
  font-size: 100%;
}
body {
  margin: 5% 15%;
  padding: 0;
  /* font-family: "Roboto" sans-serif;*/
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
