.countries-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, 1fr);
  gap: 10px 10px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      " column-1 column-1 column-1 column-1 "
      " column-2 column-2 column-3 column-4 "
      " column-5 column-6 column-7 column-7 ";
  }
}
